<!-- Lista kontaktów -->
<!-- <app-contact-element></app-contact-element> -->

	<div class="row">
		<div class="col-xs-12">
			<h1>Kontakty:</h1>
			<ul class="list-group">
				<app-contact-element 
					*ngFor = "let contact of contacts"
					[contactItem] = "contact">
				</app-contact-element>
			</ul>
			<div>
				<!-- Przyciski zarządzania listą -->
				<button class="btn btn-success" 	(click)="onDodaj()" 	>Dodaj</button>
				<button class="btn btn-danger" 		(click)="onUsun()" 		>Usuń</button>
				<button class="btn btn-primary"		(click)="onEdytuj()"	>Edytuj</button>
			</div>
		</div>
		
		
	</div>




