<!-- Lista kontaktów -->
<!-- <app-contact-element></app-contact-element> -->

	<div class="row">
		<div class="col-xs-12">
			<h1>Kontakty:</h1>
			<ul class="list-group">
				<app-contact-element 
					*ngFor = "let contact of contacts"
					[contactItem] = "contact"
					(itemClicked) = listItemClicked(contact)>
				</app-contact-element>
			</ul>
			<div>
				<!-- Przyciski zarządzania listą -->
				<!-- Usuń i Edytuj nieaktywne gdy nie wybrano żadnego elementu -->
				<button 
					class="btn btn-success" 	
					(click)="onDodaj()">
						Dodaj
				</button>
				<button 
					class="btn btn-danger" 	
					[disabled] = "!selectedItem"
					(click)="onUsun()">
						Usuń
				</button>
				<button 
					class="btn btn-primary" 
					[disabled] = "!selectedItem"
					(click)="onEdytuj()">
						Edytuj
				</button>
			</div>
		</div>
		
		
	</div>




