<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Szczegóły kontaktu:</h1>
			<!-- użycie lokalnych referencji -->
			<p><span>Nazwisko:</span> {{ contact.nazwisko }}</p>
			<p><span>Pierwsze imię:</span> {{ contact.imie }}</p>
			<p *ngIf = "contact.drugieImie"><span>Drugie imię:</span> {{ contact.drugieImie }} </p>
			<p *ngIf = "contact.nrTelefonu"><span>Numer telefonu:</span> {{ contact.nrTelefonu }}</p> 
			<p *ngIf = "contact.email"><span>E-mail:</span> {{ contact.email }}</p> 
		</div>
		<div class="col-xs-12">
			<button class="btn btn-primary"	(click)="onEdytuj()">
				Edytuj
			</button>
		</div>
	</div>
</div>
